@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Russo+One&display=swap')

.rubik-mono one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 700;
  font-style: normal;
}



.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {

  font-family: "Russo One", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: #e9dac6;

.mainContainer {
  font-size: 24pt;
  padding-left: 300px;
  padding-right: 100px;
  margin: 0px;
}

.menu {
  position: fixed;
  width: 100%;
  background-color: #000000;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  display: flex;
  justify-content: space-around;
}

.menu ul li{
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}

.menu ul li a{
  color: #fff;
}

.Header1 {
  margin-top: 70px;
  position: relative;
  font-family: "Russo One", sans-serif;
  font-weight: 250;
  font-style: normal;
  font-size: 55pt;
  justify-content: flex-end;
  background-image: url("IMG_9550.JPG");
  background-size: 600px 600px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.backgroundimage {
  position: absolute;
  background-image: url("IMG_9550.JPG");
  background-repeat: no-repeat, repeat;
  display: flex;
  justify-content: flex-start ;
}


.auraimage {
  display: block;
  padding-top: 65px;
  padding-right: 65px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10;:
  
}

.auraimage2 {
  display: block;
  padding-top: 65px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10;:
  
}

.yellowperilblackpower {
  width: 20px;
  height: 25px;
  display: inline-block;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.overlap {
  display: block;
  padding-top: 2px;
  padding-bottom: 30px;
  margin-top: 50;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
  
}

.text-lines {
  line-height: 1;
  line
}

.IntroPara {
  font-size: 22px;
  margin-bottom: 100px;
  margin-left: 10px;
  text-align: right;
  
}


.header-container {
  text-align: left;
  margin-left: 20px;
}

.header-text {
  font-size: 24px;
  font-weight: bolder;
  color: #333;
}

.menu {
  background-color: #000000;
  padding: 20px;
  width: 250px;
  left: 0px;
  top: 0px;
  position: fixed;
  width: 100%;
  font-size: 24pt;
  z-index: 2;
}



a, a:visited, a:active {
  text-decoration: none;
  font-weight: bolder;
  color: #fff;
}

a:active {
  color: black;
}

a:hover {
  background-color: black;
}


.content {
  padding-top: 5px;
  font-weight: lighter;
}

.historycontent {
  padding-top: 5px;
  font-weight: lighter;
}


.subTitle {
  text-align: right;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 1px;
  border-bottom: 5px solid #A6866A;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.subTitleleft {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 1px;
  border-bottom: 5px solid #A6866A;
}

.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}